html, body {
  height: 100%;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.page {
  display: flex;
}
#controlPanel {
  background-color: #EEEEEE;
  width: 15%;
  height: 100%;
  /* padding: 10px; */
}
#controlPanel h1 {
  margin-top: 0;
  text-align: center;
}
#reportArea {
  background-color: #00F0F0;
  height: 100%;
  padding: 10px;
  width: 50%;
}

.panelTitle {
  color: black;
  font-size: 20px;
  text-align: center;
}
#checkMessagesToPanel, #checkMessagesFromPanel, #newUserPanel, #newMessagePanel {
  position: relative;
}
input[type=text] {
  position: absolute;
  right: 10px;
}
