html, body {
  height: 100%;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
#page {
  display: flex;
  height: 100%;
}


/* CONTROL PANELS */
#controlPanel {
  background-color: #EEEEEE;
  width: 20%;
  height: 100%;
  padding: 10px;
}
#controlPanel h1 {
  text-align: center;
}
#panels {
  display: flex;
  flex-wrap: wrap;
}
#panels div {
  margin-bottom: 5px;
  padding: 0px 20px;
  width: 100%;
}
.panelTitle {
  color: black;
  font-size: 20px;
  text-align: center;
}
#checkMessagesToPanel, #checkMessagesFromPanel, #newUserPanel, #newMessagePanel {
  position: relative;
}
input[type=text] {
  position: absolute;
  right: 10px;
}


/* CONTENT AREA */
#contentArea {
  background-color: #d8fcfc;
  height: 100%;
  padding: 10px;
  width: 85%;
}
.messageContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.message {
  padding: 10px;
  margin: 10px;
  width: 15%;
  border: 2px solid #fff78c;
  transition: all 0.3s ease;
}
.message:hover {
  width: 25%;
}
.person {
  font-style: italic;
  text-align: right;
}
.subject {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
  transition: all 0.4s ease;
}
.message:hover .subject {
  margin-bottom: 20px;
}
