* {
  box-sizing: border-box;
}
html, body {
  margin: 0px;
  height: 150%;
}
#page {
  display: flex;
  height: 100%;
}


/* CONTROL PANELS */
#controlPanel {
  background-color: white;
  color: black;
  width: 22%;
  height: 100%;
  padding: 10px;
}
#controlPanel h1 {
  text-align: center;
}
#panels {
  display: flex;
  flex-wrap: wrap;
}
#panels div {
  margin-bottom: 5px;
  padding: 0px 30px;
  width: 100%;
}
.panelTitle {
  font-size: 20px;
  text-align: left;
  font-family: sans-serif;
  font-weight: bold;
  color: #222;
}
form {
  text-transform: uppercase;
  font-weight: bold;
  color: #444;
  font-family: sans-serif;
}
input, textarea {
  background-color: white;
  border: 1px solid #CCC;
  margin-top: 5px;
  width: 100%;
  border-bottom: 3px solid #ADD8E6;
  outline: none;
  transition: all 0.3s ease;
}
input:not(:focus):invalid, textarea:not(:focus):invalid {
  border-bottom: 3px solid #E63462;
  outline: none;
}
input:hover, textarea:hover {
  border-bottom: 3px solid #FFD700;
}
input:focus, textarea:focus {
  border-bottom: 3px solid #FFD700;
}

input {
  display: block;
}
input[type=submit] {
  margin: 5px auto;
  width: 50%;
  height: 25px;
  text-align: center;
  font-size: 15px;
  border-radius: 10px;
  border-color: #45d5d5;
  background-color: #45d5d5;
  color: white;
  text-transform: uppercase;
  transition: all 0.2s ease;
}
input[type=submit]:hover {
  background-color: white;
  color: #45d5d5;
}


/* CONTENT AREA */
#contentArea {
  background-color: #d8fcfc;
  color: #223843;
  height: 100%;
  padding: 10px 20px;
  width: 85%;
}
.messageContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
}
.message {
  padding: 10px;
  margin: 20px;
  width: 20%;
  max-height: 200px;
  overflow: auto;
  position: relative;
  border: 7px double #E63462;
  transition: all 0.5s ease;
}
.message:hover {
  width: 25%;
  max-height: inherit;
}
.person {
  font-style: italic;
  text-align: right;
  margin: 0px 100% 0px 0px;
  margin-right: 20%;
  margin-bottom: 8px;
  transition: all 0.8s ease;
}
.message:hover .person {
  margin-right: 0px;
}
.subject {
  color: black;
  font-size: 20px;
  font-weight: bolder;
  margin-bottom: 10px;
  text-align: center;
  transition: all 0.25s ease;
}
.message:hover .subject {
  margin-bottom: 20px;
}
